manifest {
    name = 'Helen2813/molecular-transport-audit'

    description = (
        'Reproducible molecular transportability audit workflow'
    )

    version = '0.1.0'

    nextflowVersion = '>=26.04.6'
}


profiles {

    local {
        includeConfig 'profiles/local.config'
    }

    docker {
        includeConfig 'profiles/docker.config'
    }
}
